
<h1>New</h1>

<form method="post" asp-action="Save">
    <fieldset>
        <legend>Create user:</legend>
        <label for="FirstName">FirstName: </label>
        <input type="text" name="FirstName" id="FirstName" required> 
        <br><br>
        <label for="FirstName">LastName: </label>
        <input type="text" name="LastName" id="LastName" required> 
        <br><br>
        <Button type="submit">Save</Button>
    </fieldset>
</form>